#gridContainer{
    display:grid;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
    font-family: 'Josefin Sans', sans-serif;
    margin-top:10vh;
    gap:1rem;

    .movie{
        border-radius:40px;
        overflow:hidden;
        height:60vh;
        
      
        .titleCont{
            position:absolute;
            color:black;
           margin-top:1rem;
            margin-left:1rem;
            z-index:10;
      
            
           
            
            .title{
           
                font-size:1.4rem;
                width:fit-content;
                padding:0.6rem 0.6rem 0.6rem 0.6rem;
                border-radius:10px;
                margin-right:1rem;
                background: linear-gradient(to right,rgba(31,28,44,1), rgba(146,141,171,0.9)); 

                a{
                    text-decoration:none;
                    color:white;
                    
                }
                &:hover{
                    background: linear-gradient(to right,rgba(146,141,171,0.9), rgba(31,28,44,1));
                    a{
                        color:white;
                    }
                }
                }
                
            
                
            
        }

        .descCont{
            position:absolute;
            margin-top:34vh;
            z-index:2;
            div{
                width:300px;
                opacity:0;
                overflow:hidden;
                color:black;
                background: linear-gradient(to right,rgba(31,28,44,0.6), rgba(146,141,171,0.9));
                margin-left:0.2rem;
                color:white;
                font-size:1.2rem;
                border-radius:10px;
            }
        }

        


        &:hover{

            #posterImg{

        
                    filter:grayscale(70%);
                
            }

        

            .descCont{
                div{
                    transition:0.5s ease-in;
                    padding: 0.4rem 0.4rem 0.4rem;
                    opacity:1;
                }
            }
        }

    
}
}